.articles__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 1em;
  padding-right: 1em;
}
.article {
  background-color: #d1d3d4;
  border: 1em solid #486067;
  border-radius: 01em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 75%;
}

.article__title {
  color: #486067;

  text-decoration: none;
}

.article__author {
  color: #dbae58;
}
.article__votes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.article__votesButton {
  border: none;
  background-color: #8e9b97;

  font-size: large;
}
