.comments__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
}
.comment {
  text-decoration: none;
  background-color: #d1d3d4;
  border: 1em solid #486067;
  border-radius: 01em;
  width: 75%;
}

.comment__body {
  color: #486067;
  text-decoration: none;
}

.comment__author {
  color: #c99f50;
}
.comment__votes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comment__votesButton {
  border: none;
  background-color: #818483;
  font-size: large;
}
