.header {
  padding: 0em;
  display: flex;
  justify-content: center;
  background-color: #3a4e54;
  border-top: 0.2em inset white;
  border-bottom: 0.2em inset #dbae58;
}

.brand {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #8e9b97;
}
.brand:hover {
  color: #c4cbc9;
}
