.users__list {
  background: #ffffff;
  opacity: 75%;
  display: flex;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}
.user {
  padding: 2em;
  border: 0.5em solid #486067;
  border-radius: 01em;
  list-style-type: none;
}

.user__details {
  color: #8e9b97;
  text-decoration: none;
}
.user__image {
  display: flex;
  width: 75px;
}
.user__image:hover {
  box-shadow: 5px 4px 10px #000000;
}
